body {
    background-color: blueviolet;
}

header{
    display: flex;
    justify-content: space-evenly;
}

h3 {
    color: white;
    font-family: monospace;
}

.backNome{
    background-color: white;
}

.nome{
    font-weight: bold;
    color: black;
}