body {
    background-color: blueviolet;
}

header{
    display: flex;
    justify-content: space-evenly;
}

h3 {
    color: white;
    font-family: monospace;
}

.nome{
    font-weight: bold;
    background-color: white;
    /*Ajustar padding*/
    padding: auto;
    color: black;
}